**here is coding part**
Import tweppy
from textblob 
consumer_key='///here is your twitter consumer_key///'
consumer_secret='///here is your twitter consumer_secret kry///'
access_token='//your token key//'
access_token_secret='//your token secret key//'
auth=tweepy.OAuthHandler(consumer_key,consumer_secret)
auth.set_access_token(access_token,access_token_secret)
api=tweepy.API(auth)
searchTerm=input("Enter keyword/hashtag to search about:")
noOfsearchTerms=int(input("enter has many tweets to analyze:")
tweets=tweepy,cursor(api.search,q=searchTerm,lang="English")
positive=0
negative=0
neutral=0
polarity=0
for tweet in tweets:
  analysis=TextBlob(tweet.txt)
  polarity+=analysis.sentiment.polarity
  if(analysis.sentiment.polarity==0)
    neutral+=`
  elif(analysis.sentiment.polarity<0.00)
  negative+=1
  else
  positive+=1
positive=percentage(positive,noOfSearchTerms)
negative=percentage(negaive,noOfSearchTerms)
neutral=percentage(neutral,noOfSearchTerms)
print("How people are reacting on"+search Terms+"by analyzing "+str(noOfSearchTerms)+"Tweets")
if(polarity==0)
print("neutral")
elif(polarity<0)
print("Negative")
else
print("Positive")
